# Web Framework
Flask==2.3.3
Flask-Cors==4.0.0
Werkzeug==2.3.7

# Anthropic
anthropic

# LangChain and Dependencies
langchain>=0.3
langchain-community>=0.3
langchain-text-splitters>=0.3
langchain-core>=0.3
langchain-anthropic==0.2.0
python-dotenv==1.0.0